// Fonts from Typekit/Adobe
@import url("https://use.typekit.net/wvw4aci.css");

body {
  font-family: var(--font-body);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-md);
  color: var(--color-body-text);
  text-underline-position: under;
  -webkit-font-smoothing: antialiased;

  // Uncomment to show the grid
  // background-image: linear-gradient(to top, rgba(242, 201, 76, 0.25) 0, rgba(242, 201, 76, 0.25) 1px, transparent 1px);
  background-size: 400vh 8px;
}

// Starting computed font-sizes at small
.t-xs {
  font-size: var(--text-xs);
}

.t-sm {
  font-size: var(--text-sm);
}

.t-base {
  font-size: var(--text-base);
}

.t-md {
  font-size: var(--text-md);
}

.t-lg {
  font-size: var(--text-lg);
}

.t-xl {
  font-size: var(--text-xl);
}

.t-xxl {
  font-size: var(--text-xxl);
}

.t-xxxl {
  font-size: var(--text-xxxl);
}

.display {
  font-size: var(--text-xxxl);
}

h1,
.h1 {
  font-size: var(--text-xxl);
}

h2,
.h2 {
  font-size: var(--text-xl);
}

h3,
.h3 {
  font-size: var(--text-lg);
}

h4,
.h4 {
  font-size: var(--text-md);
}

h5,
.h5,
p,
ol li,
ul li {
  font-size: var(--text-base);
}

h6,
.h6 {
  font-size: var(--text-sm);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: var(--font-head);
  color: var(--color-head-text);
}

h1,
.h1,
h2,
.h2 {
  line-height: var(--line-height-xs);
  font-weight: 700;
}

h3,
.h3,
h4,
.h4 {
  line-height: var(--line-height-xs);
}

h5,
.h5,
h6,
.h6 {
  letter-spacing: var(--letter-spacing-loose);
}

h6,
.h6 {
  text-transform: uppercase;
}

code,
pre {
  font-family: var(--font-mono);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
ol li,
ul li {
  margin-top: 0;
  margin-bottom: 1em;
}

::selection {
  background: var(--color-accent-link);
  color: var(--color-off-white);
}

//// Specific font classes
.t-view {
  font-family: var(--font-slab);
  font-size: var(--text-xxl);
  font-weight: var(--font-weight-heavy);
}

.t-cs-opening,
.t-cs-closing {
  font-family: var(--font-slab);
  font-size: var(--text-md);
  font-style: italic;
  font-weight: var(--font-weight-light);
}

.t-caption {
  font-family: var(--font-slab);
  font-size: var(--text-sm);
  font-style: italic;
  font-weight: var(--font-weight-light);
}

.t-cs-sub-subtitle {
  font-weight: var(--font-weight-light);
}