// Animate the 'Case Study' span
// Used in CrowdStreet & Walker Tracker case studies
// Thanks to https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load#12638711
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// .case-study-header {

//   .opening,
//   .middle {
//     display: block;
//   }

//   .opening,
//   .middle,
//   .closing {
//     padding: 0 4rem;
//   }

//   .opening,
//   .closing {
//     @extend %uc;

//     font-weight: var(--font-weight-light);
//     letter-spacing: var(--letter-spacing-slight);
//     background: var(--percent-20);
//     color: var(--white);
//   }

//   .opening {
//     margin-top: 0;
//     animation: 1s ease-out .5s 1 slideInFromLeft;
//   }

//   .closing {
//     margin-top: .5rem;
//     animation: 1s ease-out .5s 1 slideInFromRight;
//   }

//   @media (min-width: 760px) and (max-width: 999px) {
//     .opening,
//     .closing {
//       padding-bottom: 1rem;
//     }
//   }

//   // Match the left margin of content with calc b/c
//   // we can't use max-width w/o ruining the animations.
//   @media (min-width: 1000px) {
//     .opening,
//     .closing,
//     .middle {
//       padding-left: calc((100vw - 1376px) / 2);
//     }
//   }
// }

.cs-wrap {
  // margin: 0 auto;
  // padding: 2rem 4rem;
  // max-width: 180rem;
}

// .cs-wrap__bkgd {
//   overflow: auto;

//   .cs-wrap__image {
//     margin-top: 1.5rem;

//     @media (min-width: 760px) {
//       margin-right: 4rem;
//       max-width: 40rem;
//       float: left;
//     }

//     @media (min-width: 1000px) {
//       max-width: 60rem;
//     }
//   }
// }

// .cs-wrap {
//   .flex-wrap {
//     @media (min-width: 1000px) {
//       display: flex;
//       justify-content: space-between;

//       .flex-item {
//         flex-basis: 50%;

//         &:first-child {
//           margin-right: 4rem;
//         }
//       }
//     }
//   }
// }
