// similar to work-wrap
.footer-content-wrap {  
  --pad-top: 4.5rem;
  --pad-bottom: 4rem;
  --pad-hz: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: var(--pad-top);
  padding-right: var(--pad-hz);
  padding-bottom: var(--pad-bottom);
  padding-left: var(--pad-hz);
  position: relative;  
    
  @media (min-width: 510px) {
    --pad-top: 7.5rem;
  }
  
  &:before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50px;
    z-index: var(--z-normal);
    
    background-color: var(--color-accent);
    transform: skew(-11deg);
    
    @media (min-width: 1000px) {
      width: 5px;
    }
  }
}

.contact-wrap {
  --pad: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding: var(--pad);
  max-width: 800px;
  background-color: var(--color-x-light);
  position: relative;
  border-radius: 3px;
  z-index: var(--z-plus);

  @media (min-width: 760px) {
    --pad: 2rem;
  }
}

.antispam {
  display:none;
}

.social-wrap {
  --margin-top: 4rem;
  margin-top: var(--margin-top);
  margin-right: auto;
  margin-left: auto;
  max-width: 24rem;
  position: relative;
  z-index: var(--z-plus);

  @media (min-width: 1000px) {
    --margin-top: 6rem;
  }
}

.socials {  
  // reset ul
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.social {
  // reset li
  margin: 0;
}

.colophon-wrap {
  padding: 0 0 2rem;
}

.colophon {
  @extend %tac;
}
