.wrap--header {
  padding: 0;

  nav {
    margin: 0 auto;
    padding-right: 3rem;
    max-width: 75rem;
  }
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;

  li {
    @extend %uc;

    margin: 0;
    padding: 0;
    align-self: center;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .brand {
    flex-basis: 14rem;
  }
}
