.hero-wrap {
  // go big or go home
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--color-light);
  overflow: hidden;
  border-bottom: var(--border-thick);
}

.name {
  color: var(--color-off-black);
}

.name-segment {
  position: absolute;
  font-family: var(--font-body);
  font-weight: var(--font-weight-bold);
}

.name-segment--first {
  top: -0.325em;
  left: -0.05em;
}

.name-segment--last {
  bottom: -0.1675em;
  right: -0.05em;
}

.title {
  display: inline-flex;
  position: relative;
  color: var(--color-off-black);
  transform: skew(-11deg);

  // don't break the title on very small viewport
  @media (max-width: 419px) {
    &.t-xl {
      font-size: 20px;
    }
  }
}

.title-wrap {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-segment {
  padding: 0.5em;
  display: inline;
  transform: skew(11deg);
}

.title-segment--one {
  --top: 0.265em;
  padding-right: 0.75em;
  padding-left: 0.75em;
  position: relative;
  top: var(--top);
  font-family: var(--font-slab);
  font-style: italic;
  color: var(--color-off-black);

  // keep those baselines perfectly aligned!
  @media (min-width: 760px) and (max-width: 999px) {
    --top: 0.2em;
  }

  @media (min-width: 1000px) and (max-width: 1439px) {
    --top: 0.225em;
  }

  @media (min-width: 1440px) {
    --top: 0.25em;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: var(--z-minus);
    top: -0.2em;
    right: 0.375em;
    bottom: 0.2em;
    left: 0;    
    background: white;
    transform: skew(-11deg); 
    
    @media (min-width: 1000px) and (max-width: 1439px) {
      top: -0.225em;
      right: 0;
      bottom: 0.225em;
    }
  
    @media (min-width: 1440px) {
      top: -0.25em;
      right: 0;
      bottom: 0.25em;
    }
  }

  &::after {
    --width: 3px;
    content: "";
    width: var(--width);
    height: 300%;
    position: absolute;
    right: 0.3em;
    top: -100%;
    z-index: 5;
    display: inline-block;
    background-color: var(--color-accent);
    transform: skew(-11deg);

    @media (min-width: 1000px) {
      --width: 5px;
    }
  }
}

.title-segment--two {
  padding-right: 0.225em;
  padding-left: 0.25em;
  position: relative;
  font-family: var(--font-mono);
  font-size: calc(100% * 1.25);
  color: var(--color-off-white);
  background-color: var(--color-off-black);

  &::before,
  &::after {
    content: "";
    /* There's a tiny little gap showing at some breakpoints, even after resizing this to a fraction less than 100%. Seems to be a Chrome bug. */
    height: 100%;
    width: 0.5em;
    top: 0;
    display: inline-block;
    position: absolute;
    background: var(--color-off-black);
    transform: skew(-11deg);
  }

  &::before {
    top: 0;
    left: -0.25em;
  }

  &::after {
    top: 0;
    right: -0.25em;
  }
}
