[role="main"] {
  padding: 0 3rem;
}

.intro {
  margin: 0 auto;
  max-width: 116rem;
}

.block--tldr {
  em {
    font-weight: 300;
  }

  .cta {
    margin: 0 auto;
    max-width: 30rem;

    img {
      max-width: 100%;
      display: block;
      border: 1px solid var(--logo-green);
      border-bottom: none;
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
    }

    .button {
      display: block;
    }

    .button {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  @include for-tablet-portrait-up {
    display: flex;
    justify-content: space-between;

    .block--text {
      padding-right: 3rem;
      flex-basis: 75%;
      text-align: right;
    }

    .cta {
      margin: 0;
    }

    .avatar {
      padding-top: 1rem;
    }
  }
}

.pull-quote {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 44rem;
  position: relative;
  background: rgba($logo-green, .25);

  em {
    font-weight: 300;
  }
}

@include for-tablet-portrait-up {
  .pull-quote {
    margin-right: 3rem;
    float: left;
    position: relative;
  }
}

@include for-desktop-up {
  .pull-quote {
    margin-right: -12rem;
    left: -15rem;

  }
}
