.l-container {
  overflow: hidden; 
}

.l-container--base {
  --pad-hz: 2rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--pad-hz);
  padding-left: var(--pad-hz);
}

.l-container--accent {
  border-bottom: var(--border-thick);
}