// the hamburger
.menu__toggler {
  height: 3rem;
  width: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  top: 1rem;
  right: 0;  
  cursor: pointer;
  background: var(--color-off-black);
  border: none;
}

.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 3px;
  left: 1rem;
  background-color: var(--color-off-white);
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.menu__toggler span::before {
  top: -8px;
  left: 0;
}

.menu__toggler span::after {
  top: 8px;
  left: 0;
}

.menu__toggler.active > span {
  background: transparent;
}

.menu__toggler.active > span::before, .menu__toggler.active > span::after {
  background-color: var(--color-off-white);
  top: 0;
}

.menu__toggler.active > span::before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.menu__toggler.active > span::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

// the main menu
.menu {
  width: auto;
  height: 100%;
  position: fixed;
  left: -100%;
  z-index: var(--z-apex);  
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  transform: skew(-11deg);
  // transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

.menu.active {
  left: 1.5rem;
}

.menu__link {
  padding: 1rem 3rem;
  border-bottom: 3px solid var(--white);
  display: block;
  font-family: var(--font-slab);
  font-style: italic;
  letter-spacing: var(--letter-spacing-slight);
  font-weight: var(--font-weight-regular);
  color: white;
  text-decoration: none;
  background: var(--color-off-black);
  
  &:last-child {
    border-bottom: none;
  }
  
  >span {
    display: inline-block;
    // unskew text
    transform: skew(11deg);
  }
  
  &:hover,
  &:focus {
    background-color: var(--color-accent);
  }

  &:focus {
    outline: none;
  }
}

// menu from case-studies
.menu-wrap {
  padding-right: 1.7rem;
  position: sticky;
  top: 0;
  z-index: var(--z-nav);
}

.menu-local {
  display: flex;
  justify-content: flex-end;
  transform: skew(-11deg);

  .menu__link {
    border-right: 3px solid var(--white);
    border-bottom: none;

    &:last-child {
      border-right: none;
    }
  }
}
