.button {
  @extend %tac;
  @extend %uc;

  padding: 2rem;  
  font-family: var(--font-slab);
  font-size: 1.5em;
  font-weight: var(--font-wight-normal);
  letter-spacing: var(--letter-spacing-slight);
  text-decoration: none;
  line-height: var(--line-height-xs);
  color: var(--color-off-white);
  background-color: var(--percent-20);
  border: none;
  border-radius: 3px;

  &:focus,
  &:hover {
    background-color: var(--color-accent-link);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-accent-link-light);
  }
}

.button--small {
  padding: 1rem;
  font-size: 1em;
}
