.contact-form {
  padding-top: 1rem;

  label {
    @extend %uc;

    margin-bottom: 1em;
    display: block;
  }

  input,
  textarea {
    padding-left: 1em;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-accent-link);
    line-height: var(--line-height-xl);
  }

  .button {
    margin: 2rem 0;
    width: 100%;
  }
}
