// Add this class to links in paragraph
.inline-link {
  text-decoration: none;
  color: var(--color-accent-link);

  &:focus,
  &:hover {   
    color: var(--color-off-white);
    background-color: var(--color-body-text);    
  }

  &:focus {
    outline: none;
  }
}

.social__link {
  // large touch area
  padding: .5rem;
  display: inline-block;
  text-decoration: none;

  .social-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--percent-20);
    background-color: var(--color-light);
    transition: none;

    &:focus,
    &:hover {
      fill: var(--color-accent-link);
    }
  }
}

.social__link:focus {
  .social-icon {
    fill: var(--color-accent-link);
  }
}
